//
   Created by zhuangqh on 2016/2/15.

div.pre-review
  ul.nav.nav-tabs
    li.active(role='presentaion')
      a(href='/comment') 评论
    li(role='presentation')
      a(href='/myComment/{{homeworkId}}') 我的评论

  div.col-md-10.col-md-offset-1#pre-comments
    p.text-center {{commentTitle}}
      a.back.btn.btn-link(href='/student') 返回

    // comments
    div#homeworks-to-comment(ng-repeat='hw in HWToComment')
      div.comment-edit-panel(ng-show='hw.codePackage')
        div.student-info.col-md-2
          p.text-center {{hw.name}}
          img.img-rounded(ng-src='{{hw.snapshot}}')
          div.row
            a(href='{{hw.githubLink}}', target='_blank') Github地址
          div.row
            a(href='{{hw.codePackage}}', target='_blank') 源文件
        form(ng-submit='comment(hw.username)')
          textarea.col-md-8.comment-input(ng-model='CommentToSend[hw.username].comment')
          div.comment-upload.text-center
            div.score.input-group
              input.form-control(type='text', placeholder='分数', ng-model='CommentToSend[hw.username].score')
            br
            button.btn.btn-primary(type='submit') 提交