//
   Created by zhuangqh on 16/2/13.
div.container-fluid
  div.row
    div.col-md-5.col-md-offset-1#my-score
    div.col-md-5#my-rank
  div.row
    div.col-md-3
      div.thumbnail
        div.caption.row
          b.col-md-9 JavaScript Basic
          span.label.label-primary future
        img.img-responsive(src='img/rayna.jpg', alt='homework thumbnail')
        div.caption.row
          a(href='#').col-md-4 作业链接
          a(href='#').col-md-4 查看评论
          a(href='#').col-md-4 作业提交