//
   Created by zhuangqh on 2016/2/14.
div#pre-review
  ul.nav.nav-tabs
    li.active(role='presentation')
      a(href='#') 查看评审

  div.col-md-10.col-md-offset-1#pre-comments
    p.text-center Homework1-Recipe
      a.back.btn.btn-link(href='/student') 返回

    // comments
    div.pre-comment-panel
      div.col-md-10.pre-comment
        p 首页很好，用到了css动画； 结构清晰。
      div.pre-score.text-center
        p 99
