//
   Created by zhuangqh on 2016/2/14.
div.pre-review
  ul.nav.nav-tabs
    li.active(role='presentation')
      a(href='#') 查看评审

  div#my-comments
    p.text-center {{commentTitle}}
      a.back.btn.btn-link(href='/student') 返回
    div.col-md-10.col-md-offset-1.pre-comments(ng-repeat='(reviewer, comment) in myCommentList')

      // comments
      div.comment-panel(ng-class="{'TA-comment': reviewer[0] == 'T', 'student-comment': reviewer[0] != 'T'}")
        div.col-md-10.comment
          p {{comment.comment}}
        div.pre-score.text-center
          p {{comment.score}}
