//
   Created by zhuangqh on 16/2/13.

div#upload.modal.fade(role='dialog', aria-labelledby='uploadLabel')
  div.modal-dialog(role='document')
    div.modal-content
      div.modal-header 作业信息
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      div.modal-body
        form
          div.form-group
            label(for='githubLink') Github 地址
            input.form-control#githubLink(type='text')
          div.form-group
            label(for='postscript') 附言
            textarea.form-control#postscript(rows='3')
      div.modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') 取消
        button.btn.btn-primary(type='button') 提交


div.container-fluid
  div.col-md-6#my-score
  div.col-md-6#my-rank

  div.homeworks(ng-repeat='homework in user.homeworks')
    div.col-md-3
      div.thumbnail
        div.caption.row
          b.col-md-9 Homework:{{homework.homeworkId}}{{homework.title}}
          span.label.label-primary {{homework.status}}
        img.img-responsive(src='img/rayna.jpg', alt='homework thumbnail')
        div.caption.row(ng-show="homework.status == 'end'")
          a(href='{{homework.link}}').col-md-4 作业链接
          a(href='#').col-md-4 源文件
          a(href='/previousReview').col-md-4 查看评论
        div.caption.row(ng-show="homework.status == 'now'")
          a(href='{{homework.link}}').col-md-4 作业链接
          a(href='/comment').col-md-4 评论
          a(href='#', data-target='#upload', data-toggle='modal').col-md-4 提交
