//
   Created by zhuangqh on 2016/2/15.

div#TA-view
  div.col-md-8.col-md-offset-2#homework-list
    h1.text-center 作业列表
    table.table.table-hover
      tr
        th #
        th 作业名称
        th 作业链接
        th 开始时间
        th 结束时间
        th
      tr
        td 1
        td Homework-recipe
        td
          a(href='#') 这里
        td 2016-1-1
        td 2016-1-2
        td
          a.btn.btn-primary.btn-xs(href='/TAComment', role='button') 批改