//
   Created by zhuangqh on 2016/2/19.

nav.navbar.navbar-default.navbar-fixed-top
  div.container-fluid
    div.navbar-header
      a.navbar-brand Teacher

    ul.nav.navbar-nav.navbar-right
      li
        a(href='#', ng-click='logout()') 退出
