//
   Created by zhuangqh on 2016/2/15.

div.main-view
  div.col-md-8.col-md-offset-2#homework-list
    h1.text-center 作业列表
    table.table.table-hover
      thead
        tr
          th #
          th 作业名称
          th 作业链接
          th 开始时间
          th 结束时间
          th
      tbody(ng-repeat='homework in homeworks')
        tr
          td {{homework.homeworkId}}
          td {{homework.title}}
          td
            a(href='{{homework.link}}') 这里
          td {{homework.startTime}}
          td {{homework.endTime}}
          td
            a.btn.btn-primary.btn-xs(href='/TAComment/{{homework.homeworkId}}', role='button') 批改
