extends layout

block body
  div#nav(ui-view='nav')
  div#content.main.user-view(ui-view='content')
  script(src='js/lib/jquery.min.js')
  script(src='js/lib/bootstrap-datetimepicker.min.js')
  script(src='js/lib/webuploader.html5only.min.js')
  script(src='js/app.js')
