extends layout

block body
  div#nav(ui-view='nav')
  div#content.main.user-view(ui-view='content')
  script(src='http://cdn.bootcss.com/jquery/2.2.0/jquery.min.js')
  script(src='js/bootstrap-datetimepicker.min.js')
  script(src='http://cdn.bootcss.com/webuploader/0.1.1/webuploader.html5only.min.js')
  script(src='js/app.js')
