doctype html
html(ng-app="myAchievement")
  head
    meta(charset='utf8')
    base(href='/')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title My achievement
    link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/app.css')
  body
    block body

    script(src='http://cdn.bootcss.com/jquery/2.2.0/jquery.min.js')
    script(src='http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='http://cdn.hcharts.cn/highcharts/highcharts.js')
