//
   Created by zhuangqh on 2016/2/16.

extends layout

block body
  nav.navbar.navbar-default.navbar-fixed-top
    div.container-fluid
      div.navbar-header
        a.navbar-brand My achievement

      p.navbar-text 14331401
      p.navbar-text zhuangqh

      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href="#",data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
            | 更多
            span.caret
          ul.dropdown-menu
            li
              a(href='#') 修改密码
            li
              a(href='#') 退出

  div.main(ng-view)

  script(src='js/app.js')
